.container{
    -fx-background-color: linear-gradient(to top right, #c3dddd, #d1cccc);
}
.title{
    -fx-text-fill: white;
}
.text-label{
    -fx-text-fill: rgba(32, 30, 30, 0.7);
}
.field{
    -fx-border-color: #6c6a6a;
    -fx-border-radius: 5px;
    -fx-prompt-text-fill: rgba(0,0,0,0.4);
}
.submit-button{
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #3eda52, #2e972a);
    -fx-border-color: transparent;
}
.submit-button:hover{
    -fx-cursor: hand;
    opacity: 0.7;
}
.show-pass{
    -fx-text-fill: #68685f;
}