.view_button{
    -fx-background-color: linear-gradient(to right, #48bde8, #3877d6);
    -fx-text-fill: white;
}
.view_button:hover{
    -fx-opacity: 0.6;
    -fx-cursor: hand;
}
.view_button FontIcon{
    -fx-fill: white;
}