.card{
    -fx-background-color: linear-gradient(to right,#344250,#3c6382);
}
.card:hover{
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}
.card-icon{
    -fx-fill: white;
}
.card-text{
    -fx-fill: white;
}
.search-btn FontIcon{
    -fx-fill: rgba(0,0,0,0.3);
}
Button:hover{
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}